h3.no-posts {
  text-align: center;
  margin-top: 15%;
}

$vote_container_size: 45px;
$vote_container_margin: 12px;

div.date {
  @include clearfix;
  margin-bottom: 12px;
  .header {
    margin-bottom: 12px;
    .permalink {
      margin-left: 12px;
      display: inline-block;
      font-size: 10px;
      text-transform: capitalize;
      line-height: 30px;
      color: rgba($blue,0.25);
      &:hover {
        color: rgba($blue,1);
      }
    }
  }
}

li.post {
  .submission, .view-discussion {
    margin-bottom: 18px;
  }
  .submission {
    @include span-columns(9);
  }
  .view-discussion {
    @include span-columns(3);
    text-align: right;
    line-height: 48px;
    .comment-count { margin-left: 12px; }
    color: #888;
  }
  .post-url.title {
    font-weight: bold;
    color: #da552f;
    display: block;
    margin-bottom: 4px;
  }

  .description, .post-tags {
    margin-left: $vote_container_size + $vote_container_margin;
  }

  .post-tags {
    margin-top: 4px;
    font-size: 0.8em;
  }

  .description {
    color: #888;
  }
  .upvote {
    border-radius: 4px;
    background-color: #eee;
    float: left;
    text-align: center;
    width: 45px;
    color: #888;
    margin-right: $vote_container_margin;
  }
}
