/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'bourbon';
@import 'base/base';
@import 'neat';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import './upvote/all';

.center { text-align: center; }

.primary-content {
  padding-top: 4.5em;
}

.login-provider {
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.9em;
  border: 1px solid lighten($blue,30%);
  border-radius: 4px;
  margin-right: 12px;
}

html, body {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5 {
  color: #bbb;
  letter-spacing: .5px;
  font-weight: 600;
  text-transform: uppercase;
}

section {
  @include outer-container;
  &:first-child { margin-top: 2.0em; }
}
